<header id="header">
    <h1>Rapha's Space</h1>
    <div id="navbar">
        <ul>
            <!-- Optional icon for later
        <li class="icon">
            <a href="#" aria-label="Menu"><i class="fas fa-bars fa-2x" aria-hidden="true"></i></a>
        </li>
        -->
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <!--<li><a href="/cv">CV</a></li>-->
            <!-- <li><a href="/posts">All posts</a></li> -->
        </ul>
    </div>
</header>
