<head>
    <!-- be responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- encode multiple languages -->
    <meta charset="utf-8">
    <!-- override Bootstrap style -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">

    <!-- page title -->
    <title>Rapha's Space</title>
</head>
